* {
    background-color: transparent;
    color: #ffffff;
    font-family: 'Segoe UI Symbol', sans-serif;
    margin: 0;
}

header{
    background-color: rgba(27, 30, 61, 0.9);
    text-align: center;
}

body{
    background-image: url(img/flag.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

p{
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
}

.tabla1{
    margin-left: auto;
    margin-right: auto;

}

td, th {
    background:rgba(105, 118, 138, 0.6) ;
   text-align: left;
   margin: 20px;
 }

.div1{
    margin-top: 100px;
    background-color: rgba(148, 63, 63, 0.9);
    text-align: center;
}

table{
    margin: 0 auto;
    font-family: 'Segoe UI Symbol', sans-serif;
}

#title{
    color: #ffffff;
    text-align: center;
    background-color: transparent;
    font-size: 60px;
}

.imagen{
    height: 200px;
    border-radius: 5%;
}

.imagenGrande{
    height: 300px;
    border-radius: 5%;
    margin: 32px;
}

.textoGrande{
    color: #ffffff;
    font-size: 50px;
    text-align: left;
}

a{
    color: #ffffff;
}

.texto2{
    font-size: 30px;
    text-align: left;
}

.center{
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

#lista{
    margin: 0 auto;
    padding-left: 30%;
    text-align: center;
}
ol li {
    counter-increment: list;
    list-style-type: none;
    position: relative;
    text-align: center;
    display: list-item;
}

ol li:before {
    color: #ffffff;
    content: counter(list) ".";
    left: -35px;
    position: absolute;
    text-align: right;
    width: 26px;
}

.textoGrande2{
    font-size: 50px;
    text-align: center;
    color: black;
}

footer{
    margin-top: 100px;
    background-color: rgba(27, 30, 61, 0.9);
}

