* {
    background-color: transparent;
    color: #ffffff;
    font-family: 'Segoe UI Symbol', sans-serif;
    margin: 0;
}

header{
    height: 150px;
    background-color: rgba(27, 30, 61, 0.9);
    text-align: center;
}

body{
    background-color: #dadada;

}

#div1{
    margin-top: 150px;
    margin-bottom: 150px;
    background-color: rgba(148, 63, 63, 0.9);
    text-align: center;
}

table{
    margin: 0 auto;
    font-family: 'Segoe UI Symbol', sans-serif;
}

#title{
    color: #ffffff;
    text-align: center;
    background-color: transparent;
    font-size: 60px;
}

.imagen{
    height: 200px;
    border-radius: 5%;
}

.textoGrande{
    font-size: 50px;
    text-align: left;
}

footer{
    height: 150px;
    background-color: rgba(27, 30, 61, 0.9);
}

